@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to humayun aziz</h1>
    <h2>CI/CD Practice from home</h2>
    <p>Changes made from office</p>
    by HAJI furqan
</div>
